@model Category

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit</h3>
<h6>Category</h6>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb-3">
                <label asp-for="Name" class="col-md-4 form-label"></label>
                <div class="col-md-8">
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-warning"></span>
                </div>
            </div>

            <div class="row mb-3 d-none">
                <label asp-for="Created" class="col-md-4 form-label"></label>
                <div class="col-md-8">
                    <input asp-for="Created" class="form-control" disabled>
                    <span asp-validation-for="Created" class="text-warning"></span>
                </div>
            </div>

            <input type="submit" value="Update" class="btn btn-sm btn-primary mb-3" />

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
