@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<h3>Categories</h3>
<div class="d-flex">
    <div class="me-auto">
        <p><a asp-action="Create">Create New</a></p>
    </div>
    <div>
        <input class="form-control form-control-sm txtSearch" type="text" name="txtSearch" placeholder="Search . . ." />
    </div>
</div>



<div class="protable">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>

        <tbody id="protbody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square text-warning me-2"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash text-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>